openapi: 3.0.1
info:
  title: Flightcontrol Management CloudFront Deployments API
  description: Specification of the documented Flightcontrol HTTP API. Flightcontrol deploys applications to your own AWS account. This API lets you integrate Flightcontrol with CI/CD and automation - trigger deployments via deploy hooks, read deployment status, create and edit environments, list services, set environment variables, update service scaling, run scheduler jobs, and invalidate CloudFront caches.
  termsOfService: https://www.flightcontrol.dev/legal/terms
  contact:
    name: Flightcontrol Support
    url: https://www.flightcontrol.dev/docs
  version: '1.0'
servers:
- url: https://api.flightcontrol.dev
  description: Authenticated management API (Bearer API key).
- url: https://app.flightcontrol.dev
  description: Deploy hook endpoints (secret embedded in path).
security:
- bearerAuth: []
tags:
- name: Deployments
paths:
  /v1/deployments/{deploymentId}:
    get:
      operationId: getDeployment
      tags:
      - Deployments
      summary: Get deployment
      description: Retrieve information and status for a deployment, including per-service deployment details. The deploymentId is returned when a deployment is triggered (for example via a deploy hook).
      parameters:
      - name: deploymentId
        in: path
        required: true
        description: The deployment identifier.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '401':
          description: Unauthorized
        '404':
          description: Deployment not found
components:
  schemas:
    Deployment:
      type: object
      properties:
        deploymentId:
          type: string
        projectId:
          type: string
        environmentId:
          type: string
        environmentGivenId:
          type: string
        isPreviewEnvironment:
          type: boolean
        createdAt:
          type: string
          format: date-time
        repoUrl:
          type: string
        gitCommit:
          type: string
        gitBranch:
          type: string
        status:
          type: string
          description: Stage or final status, e.g. PENDING, INPROGRESS, BUILDING, DEPLOYING, SUCCESS, ERROR, BUILD_ERROR.
        serviceDeployments:
          type: array
          items:
            type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Flightcontrol API key passed as a Bearer token in the Authorization header.
